body {
  font-family: "Press Start 2P", cursive;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Aplicamos una imagen al fondo */
  background: url("https://image.api.playstation.com/vulcan/img/rnd/202010/1520/NXNCl23Cal5LFacqEiWwptkt.png")
    no-repeat center center fixed;
  background-size: cover;
}

header {
  width: 100%;
  background-color: rgba(
    32,
    35,
    42,
    0.8
  ); /* Aplicamos un poco de transparencia con el cuarto valor */
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid #61dafb;
  box-sizing: border-box;
  backdrop-filter: blur(
    10px
  ); /* Efecto borroso para lo que está detras del elemento */
}

header h1 {
  color: #61dafb;
  margin: 0;
  font-size: 32px;
  text-align: center;
}

header a {
  color: #ff4c4c;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  right: 20px;
}

main {
  margin-top: 80px;
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 800px;
  background-color: rgba(60, 63, 65, 0.8);
  border-radius: 8px;
}

h2 {
  color: #61dafb;
  font-size: 28px;
}

h3 {
  color: #e0e0e0;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #61dafb;
  border-radius: 4px;
  background-color: #20232a;
  color: #f0f0f0;
}

input[type="submit"],
button {
  background-color: #61dafb;
  color: #20232a;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

input[type="submit"]:hover,
button:hover {
  background-color: #4fa3c4;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
}

.update-buttons {
  margin-top: 20px;
}

.update-buttons form {
  display: inline-block;
  margin: 0 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Aplicamos borde a la tabla y sus elementos */
table,
th,
td {
  border: 1px solid #61dafb;
}

th,
td {
  padding: 8px;
  text-align: left;
}

/* Modificamos los colores de las celdas que encabezan las columnas */
th {
  background-color: #20232a;
  color: #61dafb;
}
