<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PriceSlice</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>PriceSlice</h1>
      <a href="{{ url_for('logout') }}">Logout</a>
    </header>

    <main>
      <h2>Buscar Juego</h2>
      <form action="{{ url_for('home') }}" method="get">
        <input type="text" name="game_name" placeholder="Buscar juego" />
        <input type="submit" value="Buscar" />
      </form>

      {% if min_price is not none %}
      <h3>
        El menor precio actual para {{ game_name }} es {{ min_price }} en {{
        min_price_store }}
      </h3>
      <img
        src="data:image/png;base64,{{ graph_img }}"
        alt="Gráfico de precios"
      />
      {% endif %}

      <div class="update-buttons">
        <form action="{{ url_for('update_games_eneba') }}" method="post">
          <button type="submit">Actualizar Eneba</button>
        </form>
        <form
          action="{{ url_for('update_games_instant_gaming') }}"
          method="post"
        >
          <button type="submit">Actualizar Instant Gaming</button>
        </form>
      </div>
    </main>
  </body>
</html>
