<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PriceSlice</title>
    <!-- Importamos los estilos -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='form.css') }}"
    />
    <!-- Activamos la fuente de texto que queremos usar -->
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-container">
      <h1>PriceSlice</h1>
      <form action="{{ url_for('login') }}" method="POST">
        {{ form.hidden_tag() }}
        <input
          type="text"
          name="username"
          placeholder="Nombre de usuario"
          required
        />
        <input
          type="password"
          name="password"
          placeholder="Contraseña"
          required
        />
        <input type="submit" value="Login" />
      </form>
      <a href="{{ url_for('register') }}"
        >Don't have an account? Register here</a
      >
    </div>
  </body>
</html>
